* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
    
}

.bg-blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.webp");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(5px);
    z-index: 0;
}

section {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#convert-button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#convert-button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 30px;
    padding: 15px;
    background-color: #e9ffe9;
    border-left: 4px solid #4CAF50;
    border-radius: 6px;
}

.result h2 {
    margin-top: 0;
}

.result p {
    font-size: 18px;
    color: #333;
}
